main h1 {
    margin-bottom: 5px;
}
header {
    background-color: #2a2f4e;
}
main, footer {
    margin: 0 10em 0 60px;
}
body {
    margin: 0;
    width: 80%;
}
#caption {
    margin: 0 auto;
    padding: 0;
}
