main h1 {
    margin-bottom: 5px;
}
header {
    background-color: #2a2f4e;
}
main, footer {
    margin: 0 10em 0 60px;
}
body {
    margin: 0;

}
#caption {
    margin: 0 auto;
    padding: 0;
}
#output li {
    list-style: none;
    }
#gallery img {
    height: 200px;
    padding: .1em;
}
#temp {
    clear: both;
}
#gallery div {
    float: left;
    width: 25%;
    text-align: center;
}
#nearest {
    color: #F46569
}
